name: univents
description: An event overview application made to ease your spare time planning.

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.0+1

environment:
  sdk: ">=2.2.0 <3.0.0"

dependencies:
  contacts_service: ^0.3.10
  flutter_map: ^0.8.2
  user_location: ^0.1.3
  image_picker: ^0.6.5
  permission_handler: ^5.0.0+hotfix.3
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  intl: ^0.16.1


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.2

  # The following 3 dependencies enable us to support Firebase auth and Google and Apple auth
  firebase_auth: ^0.15.5+3
  google_sign_in: ^4.4.1
  apple_sign_in: ^0.1.0
  fluttertoast: ^4.0.1

  path_provider: ^1.6.8

  #The following dependency supports state changes of the login screen to HomeScreen on changes of the logged in user, but has to be implemented later on
  provider: ^4.0.5

  #The following dependency enables us to use Firebase Cloud Firestore as database.
  #Version 0.12.2 is needed for geo_firestore
  cloud_firestore: ^0.12.2

  #The following dependency enables us to use Firebase Cloud Storage
  firebase_storage: ^3.1.5

  #The following dependency enables us to use Firebase Cloud functions
  cloud_functions: ^0.4.2+3

  #The following dependency enables us to search for Geopoints in Firestore
  geo_firestore: ^0.0.1

  #The following dependency enables us to use the native share window
  share: ^0.6.4

  #The following dependency enables us to launch URLs in Flutter (e. g. <mailto:>)
  url_launcher: ^5.4.5

dev_dependencies:
  flutter_test:
    sdk: flutter


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - language/en.json
    - language/de.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
